@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-shadow {
    filter: drop-shadow(#0000001a -10px 6px 24px)
}

.nav-shadow-small {
    filter: drop-shadow(#0000001a 0px 0px 23px)
}

::-webkit-scrollbar {
    width: auto;
}

::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 100vw;
    margin-block: 0.15em;
}

::-webkit-scrollbar-thumb {
    background: #1a36c0;
    border-radius: 100vw;
    border: .15rem solid #fff;
}

::-webkit-scrollbar-thumb:hover {
    background: #172fa6;
}
